.App {
  /*text-align: center;*/
  height: 100%;
  width: 100%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spaceShuttle
{
  color: rgb(255, 255, 255);
  animation: rocketAnimation 5s linear infinite;
  position: absolute;
  left: 0px;
  top:0px;
  bottom:100%
}

.spaceShuttle:hover
{
  color: yellow;
  rotate: 90deg;
  margin-top: 5vh;
  margin-left: 10vw
}

.nebulae
{

  color: red;
}

.anime
{
  background-color: white;
}

@keyframes rocketAnimation {
  to {
    left: 90%;
    top:90%;
    transform:rotate(90deg);
  } /* Final position (off-screen to the right) */
  
    
}

.movNebu
{
  display: inline-block;
  width:100%;
}

.snowflake {
  --size: 0.5vw;
  width: var(--size);
  height: 7px;
  /*var(--size);*/
  /*color:white;*/
  background: rgb(61, 58, 58);
  border-radius: 50%;
  position:absolute;
  top: -5vh;
  rotate: 20deg;
}

.header_tag {
  color: white;
  height: 20%;
  
  text-align: center;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  
 /* overflow: hidden;*/
  /*background: linear-gradient(#123, #111);*/
  background: linear-gradient(rgb(0, 0, 0) 0%, rgb(12, 50, 59) 50%, #2b2a2a 100%);
}

/*
.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}
*/

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 10vh, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 20vh, 0);
  }
}



/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}

.nickbox
{
  
  height: 30px;
  background-color: white;
  /*position: absolute;
  left: 30%;
  top:30%;*/
  
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjust the value to control the amount of rounding */
  padding: 10px;
  width: 80%;
}

.codebox
{
  
  height: 30px;
  background-color: white;
  
  margin-top: 1%;
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjust the value to control the amount of rounding */
  padding: 10px;
  width: 80%;
}

.signupbtn
{
  width: 60%;
  
  margin-top: 1%;
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjust the value to control the amount of rounding */
  height: 7%;
}

@media only screen and (orientation: landscape) {
/*
.login_container
{
  width: 90%;
  left: 30%;
  top:10%;
  position: fixed;
}
*/
.login_container
  {
    width: 90%;
    margin: auto;
    padding-top: 5%;
    padding-left: 10%;
    
  }
}

@media only screen and (orientation: portrait) {
  /*
  .login_container
  {
    width: 90%;
    left: 18%;
    top:10%;
    position: fixed;
  }
  */
  .login_container
  {
    width: 90%;
    margin: auto;
    padding-top: 10%;
    padding-left: 10%;
  }
  }

.login_ctn
{
  padding-left: 20%;
}

@media screen and (orientation: portrait)
{
.login_table{
  display: grid;
  place-items: center;
  overflow-wrap: anywhere;
  grid-template-columns: 100%;
  justify-content: center;
}
}
@media screen and (orientation: landscape)
{
.login_table{
  display: grid;
  place-items: center;
  overflow-wrap: anywhere;
  grid-template-columns: 50%;
  justify-content: center;

}
}

.wrapper {
  height: 8vh;
  /*This part is important for centering*/
  display: grid;
  place-items: left;
  margin-top: 1%;
  overflow-wrap: anywhere;
  
}

@media screen and (orientation:landscape) {
  
.typing-demo {
  color:whitesmoke;
  width: 80%;
  height: 100%;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
}

@media screen and (orientation:portrait) {
  
  .typing-demo {
    color:whitesmoke;
    width: 100%;
    height: 90%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
   
    display: block;

  }
  }

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes walkaway {
  from {
    width: 0;
    height:0;
  }
}